*{
    font-family: 'Poppins', sans-serif;
}
.hero-section {
    display: flex;
    align-items: center;
  }
  
  .hero-card {
    border: none;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
    transition: transform .7s ease;
  }
  
  .hero-card:hover {
    transform: translateY(-5px);
  }
  
  .school-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #2d3748;
    line-height: 1.2;
  }
  
  .highlight {
    color: rgb(25 135 84);
    font-size: 3rem;
  }
  
  .welcome-text {
    font-size: 1.2rem;
    color: #718096;
    line-height: 1.6;
  }
  
  .get-started-btn {
    padding: 0.8rem 2rem;
    font-weight: 600;
    border-radius: 12px;
    transition: all 1s ease;
  }
  
  .get-started-btn:hover {
    transform: scale(1.05);
  }

  .container {
    max-width: 1000px;
  }

  
  
  /* Add some responsive adjustments */
  @media (max-width: 768px) {
    .container, .container-md, .container-sm {
      max-width: 1000px;  /* You can adjust this value as needed */
    }
    
    .school-title {
      font-size: 2rem;
    }
    
    .highlight {
      font-size: 2.5rem;
    }
    
    .welcome-text {
      font-size: 1rem;
    }
  }